In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import viz # curriculum example visualizations

1 How likely is it that you roll doubles when rolling two dice?

In [3]:
n_trials = nrows = 10_000
n_dice = ncols = 2

rolls = np.random.choice([1, 2, 3, 4, 5, 6], size = (n_trials, n_dice))
rolls

array([[6, 5],
       [6, 2],
       [3, 3],
       ...,
       [4, 3],
       [6, 1],
       [1, 3]])

In [8]:
pd.DataFrame(rolls).apply(lambda row: row[0] == row [1], axis=1).mean()

0.1651

2 If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [14]:
ct_trials = crows = 10_000
coin_toss = ctcols = 8
ct_3 = np.random.choice(['tail','head'], size = ( ct_trials, coin_toss))
ct_3

array([['head', 'head', 'head', ..., 'tail', 'head', 'head'],
       ['head', 'head', 'head', ..., 'tail', 'tail', 'tail'],
       ['tail', 'tail', 'tail', ..., 'tail', 'tail', 'tail'],
       ...,
       ['tail', 'tail', 'tail', ..., 'tail', 'tail', 'tail'],
       ['head', 'head', 'head', ..., 'tail', 'head', 'tail'],
       ['tail', 'tail', 'tail', ..., 'tail', 'tail', 'tail']], dtype='<U4')

In [15]:
df_ct_3 = pd.DataFrame(ct_3)
(df_ct_3 == 'head').head()

       0      1      2      3      4      5      6      7
0   True   True   True  False   True  False   True   True
1   True   True   True  False  False  False  False  False
2  False  False  False   True   True  False  False  False
3  False  False   True  False  False   True  False   True
4   True  False   True   True  False  False   True   True

In [18]:
df_ct_3['heads_qty'] = (df_ct_3 == 'head').sum(axis=1)
df_ct_3.head()

      0     1     2     3     4     5     6     7  #heads  heads_qty
0  head  head  head  tail  head  tail  head  head       6          6
1  head  head  head  tail  tail  tail  tail  tail       3          3
2  tail  tail  tail  head  head  tail  tail  tail       2          2
3  tail  tail  head  tail  tail  head  tail  head       3          3
4  head  tail  head  head  tail  tail  head  head       5          5

In [22]:
# Probability of 3 heads
(df_ct_3.heads_qty == 3).mean()

0.211

In [23]:
# Probability of more than 3 heads
(df_ct_3.heads_qty > 3).mean()

0.64

There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [24]:
n_rows = 10_000
n_cols = 2 

billboards = np.random.choice(["Web Development", "Data Science"], p=[.75, .25], size=(n_rows, n_cols))
billboards = pd.DataFrame(billboards)

In [25]:
billboards["number_of_data_science"] = (billboards == "Data Science").sum(axis=1)
(billboards.number_of_data_science == 2).mean()

0.0605

Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal) You'll need to make a judgement call on how to handle some of your values

In [27]:
n_rows = 10_000
n_cols = 5 
mean = 3
std = 1.5
poptarts = np.random.normal(mean, std, size=(n_rows, n_cols)).round()
poptarts = pd.DataFrame(poptarts, columns=["Mon", "Tues", "Wed", "Thur", "Fri"])
poptarts.head()

   Mon  Tues  Wed  Thur  Fri
0  6.0   3.0  4.0   0.0  4.0
1  5.0   4.0  4.0   4.0  5.0
2  2.0   2.0  2.0   3.0  2.0
3  3.0   5.0  5.0   1.0  4.0
4  1.0   3.0  4.0   6.0  3.0

In [28]:
poptarts["n_consumed"] = poptarts.sum(axis=1)
poptarts.head()

   Mon  Tues  Wed  Thur  Fri  n_consumed
0  6.0   3.0  4.0   0.0  4.0        17.0
1  5.0   4.0  4.0   4.0  5.0        22.0
2  2.0   2.0  2.0   3.0  2.0        11.0
3  3.0   5.0  5.0   1.0  4.0        18.0
4  1.0   3.0  4.0   6.0  3.0        17.0

In [30]:
# how likely is it that I will be able to buy some poptarts on Friday afternoon? 
(poptarts.n_consumed < 17).mean()

0.6697

Compare Heights

Men have an average height of 178 cm and standard deviation of 8cm.
Women have a mean of 170, sd = 6cm.
Since you have means and standard deviations, you can use np.random.normal to generate observations.
If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [31]:
m_hgt = np.random.normal(178, 8, size=10_000)
f_hgt = np.random.normal(170, 6, size=10_000)
(f_hgt > m_hgt).mean()

0.2106

When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

What is the probability that we observe an installation issue within the first 150 students that download anaconda?

How likely is it that 450 students all download anaconda without an issue?

In [32]:
# Probability of no install issues
n_rows = 100_000
n_columns = 50

installs = np.random.choice([0, 1], p=[0.004, 0.996], size=(n_rows, n_columns))

(installs.sum(axis=1) == 50).mean()

0.81589

In [33]:

# What about 150 installs w/ no issues
n_columns = 150

installs = np.random.choice([0, 1], p=[0.004, 0.996], size=(n_rows, n_columns))

(installs.sum(axis=1) == 150).mean()

0.5479

In [34]:
# What about 450 installs w/ no issues
n_columns = 450

installs = np.random.choice([0, 1], p=[0.004, 0.996], size=(n_rows, n_columns))

(installs.sum(axis=1) == 450).mean()

0.16411

There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

How likely is it that a food truck will show up sometime this week?

In [35]:
n_rows = 10_000
n_cols = 3 

food_trucks = np.random.choice([1, 0], size=(n_rows, n_cols), p=[0.7, 0.3])

In [37]:
# What's the probability of not seeing a food truck in 3 days?
(food_trucks.sum(axis=1) == 0).mean()

0.0269

In [38]:
food_trucks2 = np.random.choice([0, 1], size = (10000, 2), p = [0.3, 0.7] )
food_trucks2

array([[1, 1],
       [1, 1],
       [1, 1],
       ...,
       [1, 1],
       [1, 1],
       [0, 1]])

In [39]:
#liklihood of truck this week
(food_trucks.sum(axis = 1) >= 1).mean()

0.9731

If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [42]:
n_rows = 10_000
n_cols = 20 

birthdays = np.random.choice(range(365), size=(n_rows, n_cols))
birthdays = pd.DataFrame(birthdays)
birthdays["n_unique"] = birthdays.nunique(axis=1)
birthdays.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,n_unique
0,330,264,18,255,146,105,337,345,276,24,...,226,200,22,211,305,137,135,155,235,20
1,46,142,163,118,163,212,92,62,326,275,...,3,145,273,341,32,91,310,238,76,19
2,338,174,145,316,361,225,164,233,5,9,...,333,357,66,71,3,8,310,177,43,20
3,287,290,81,262,203,12,294,314,254,357,...,255,208,68,74,73,286,238,225,256,20
4,345,362,186,258,122,30,96,85,195,351,...,179,303,6,84,207,183,359,362,141,19

In [43]:
(birthdays.n_unique != 20).mean()

0.4187

In [44]:
n_rows = 10_000
n_cols = 40 

birthdays = np.random.choice(range(365), size=(n_rows, n_cols))
birthdays = pd.DataFrame(birthdays)
birthdays["n_unique"] = birthdays.nunique(axis=1)
birthdays.head()
(birthdays.n_unique != 40).mean()

0.8883